.input-row input {
    width : 45px;
    margin-bottom: 2px;
}

.input-row input.next {
    width : 100%;
}

.input-row td,
.input-table th {
    padding : 5px;
}

.input-row button{
    padding: 0px 5px;
    background-color: #ff4c4f;
    color:white;
    border: 1px solid pink;
    margin-bottom: 2px;
}

.input-row button:hover{
    background-color: #ff191e;
}

.input-error{
    border:1px solid red !important;
}

#tape-input{
    width : 95%;
    font-family : 'Courier New';
}